.wrapper {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 1rem;
}

.wrapper h1 {
  font-size: 3rem;
  font-weight: bold;
}

.cartTotal {
  font-weight: bolder;
  font-size: 1.7rem;
}

.checkout {
  padding: 0.5rem 0.8rem;
  margin: 1rem 0;
  font-weight: bold;
  border-radius: 100px;
}

.emptyCart {
  margin-top: 2rem;
}

.emptyCart a {
  color: rgb(78, 87, 184);
}
